* {
    margin: 0;
    padding: 0;
}
.pimg1 {
    background-image: url("../Image/images1.jpg");
    min-height: 600px;
}
.pimg1 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.border {
      
      background-color: #111;
      color: #fff;
      padding: 20px;
}
.h2 {
  color: blue;
  font-size: 1.5rem;
  padding-top: 5px;
  text-align: center;
  margin-top: 50px;
  font-family: "lato", sans-serif;
}
.section-light {
    background-color: #F4F4F4;
    color: #666;
}
.pimg2 {
    background-image: url("../Image/images2.jpg");
    min-height: 600px;
}
.pimg2 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border {
    padding:20px;
    background-color: #111;
    color: #fff;
}
.section-dark {
    background-color: #282E34;
    color: #ddd;
}
.section {
    text-align: center;
    padding: 50px 80px;
}
.pimg3 {
    background-image: url("../Image/images3.jpg");
    min-height: 600px;
}
.pimg3 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.border-trans {
    background-color: #282E34;
    color: #ddd;
}
.pimg4 {
    background-image: url("../Image/images4.jpg");
    min-height: 600px;
}
.pimg4 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media(max-width:568px){
    .background-1, .background-2, .background-3{
      background-attachment:scroll;
    }
  }