* {
    margin: 0;
    padding: 0;
}
.pimg1 {
    background-image: url("../Image/images1.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

.border {
    position: absolute;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    color:#000;
    top: 45%;
    text-transform: uppercase;
    font-family: "lato",sans-serif;
    /* margin-left: 39%; */
    opacity: 0.9;
}

h2 {
  color: blue;
  font-size: 1.5rem;
  padding-top: 5px;
  text-align: center;
  margin-top: 50px;
  font-family: "lato", sans-serif;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.pimg2 {
    position: relative;
    padding-top: 160px;
    background-image: url("../Image/images2.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    /* padding: 0px; */
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    padding:20px;
    background-color: #111;
    color: #fff;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.section {
    text-align: center;
    padding: 50px 80px;
}


.pimg3 {
    padding-top: 160px;
    background-image: url("../Image/images3.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    /* padding: 0px; */
}

.border-trans {
    background-color: #282e34;
    color: #ddd;
}

.pimg4 {
    position: relative;
    padding-top: 160px;
    background-image: url("../Image/images4.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    /* padding: 0px; */
}

@media(max-width:568px){
    .background-1, .background-2, .background-3{
      background-attachment:scroll;
    }
  }